#my-container {
	height: 100%;
	width: 100%;
	background-color: #3d0099
}

#defaultCanvas0{
	margin: 50px 20% auto;
	position: relative;

}
.instructions{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	color: white;
}

